<a href="https://colab.research.google.com/github/surajghuwalewala/CE888_Data_Science_and_Decision_Making/blob/master/Lab_5/my_recommender.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Recommender System

In [0]:
import numpy as np
import pandas as pd

## Loading the jester dataset
- Each row corresponds to a user.
- First column is total number of jokes rated by that user
- The shape of this data is 24983 x 101
- 24983 users have rated 100 jokes
- Columns 1 to 100 are ratings for each joke in the range of -10 to 10.
- Value of 99 indicates no rating was given.

In [2]:
df = pd.read_csv("https://raw.githubusercontent.com/albanda/CE888/master/lab5-recommender/jester-data-1.csv", header=None)
df.shape

(24983, 101)

In [3]:
df.head()

   0      1      2      3      4    ...    96     97     98     99     100
0   74  -7.82   8.79  -9.66  -8.16  ...  99.00  -5.63  99.00  99.00  99.00
1  100   4.08  -0.29   6.36   4.37  ...  -2.14   3.06   0.34  -4.32   1.07
2   49  99.00  99.00  99.00  99.00  ...  99.00  99.00  99.00  99.00  99.00
3   48  99.00   8.35  99.00  99.00  ...  99.00  99.00  99.00  99.00  99.00
4   91   8.50   4.61  -4.17  -5.39  ...   1.55   3.11   6.55   1.80   1.60

[5 rows x 101 columns]

In [0]:
def replace(orig, percentage=0.1):
  """
  Replaces 'percentage'% of the original values in 'orig' with 99's
  :param orig: original data array
  :param percentage: percentage of values to replace (0<percentage<1)
  """
  new_data = orig.copy()
  rated = np.where(orig!=99)
  n_rated = len(rated[0])
  idx = np.random.choice(n_rated, size=int(percentage*n_rated), replace=False)
  new_data[rated[0][idx], rated[1][idx]] = 99
  return new_data, (rated[0][idx], rated[1][idx])

In [0]:
## Replacing 10% of values to 99
val_set, idx = replace(df.values, 0.1)

In [0]:
def latentFactorModelling(data, n_latent_factors = 2, alpha = 0.0001, iterations=300):

  user_ratings = data.values
  # Initialise as random values
  latent_user_preferences = np.random.random((user_ratings.shape[0], n_latent_factors))
  latent_item_features = np.random.random((user_ratings.shape[1], n_latent_factors))
  
  
  def predict_rating(user_id, item_id):
    """ Predict a rating given a user_id and an item_id.
    """
    user_preference = latent_user_preferences[user_id]
    item_preference = latent_item_features[item_id]
    return user_preference.dot(item_preference)


  def train(user_id, item_id, rating, alpha = alpha):
      
    #print item_id
    prediction_rating = predict_rating(user_id, item_id)
    err =  prediction_rating - rating
    #print err
    user_pref_values = latent_user_preferences[user_id][:]
    latent_user_preferences[user_id] -= alpha * err * latent_item_features[item_id]
    latent_item_features[item_id] -= alpha * err * user_pref_values
    return err
      

  def sgd(iterations=iterations):
    """ Iterate over all users and all items and train for 
        a certain number of iterations
    """
    for iteration in range(iterations):
        error = []
        for user_id in range(latent_user_preferences.shape[0]):
            for item_id in range(latent_item_features.shape[0]):
                rating = user_ratings[user_id][item_id]
                if (rating != 99.0):
                    err = train(user_id, item_id, rating)
                    error.append(err)
        mse = (np.array(error) ** 2).mean()   
        if (iteration % 5) == 0:
            print("MSE - Iteration {} : {}".format(iteration, mse))

  sgd(iterations)
    
  return latent_user_preferences, latent_item_features

In [7]:
latent_user_preferences, latent_item_features = latentFactorModelling(df, iterations=25,  n_latent_factors = 3)

MSE - Iteration 0 : 51.24881353294431
MSE - Iteration 5 : 24.64058470537922
MSE - Iteration 10 : 24.623013253636824
MSE - Iteration 15 : 24.57623533613078
MSE - Iteration 20 : 24.101029782724172

In [8]:
print("latent_user_preferences: ",latent_user_preferences.shape)
print("latent_item_features: ",latent_item_features.shape)

latent_user_preferences:  (24983, 3)
latent_item_features:  (101, 3)

In [0]:
## Train predictions
predictions = latent_user_preferences.dot(latent_item_features.T)

In [0]:
def calculate_mse(orig, pred):
  error = []
  for user_id in range(orig.shape[0]):
    for item_id in range(orig.shape[1]):
      user_rating = orig[user_id][item_id]
      if(user_rating!=99.0):
        err = pred[user_id][item_id] - user_rating
        error.append(err)

  mse = (np.array(error) ** 2).mean() 

  return mse

In [11]:
## Training Mean Square Error

mse = calculate_mse(df.values, predictions)

print("Training MSE: ", mse)

Training MSE:  21.64116053145564

In [12]:
df.values.shape

(24983, 101)

In [13]:
## Validation predictions

val_mse = calculate_mse(val_set, predictions)

print("Validation MSE: ", val_mse)

Validation MSE:  21.64435494287914

Creating different validations sets and calculating MSE for each to calculate a mean mse

In [14]:
val_mse_arr = []
for itr in range(10):
    val_set, idx = replace(df.values, 0.1)  
    val_mse = calculate_mse(val_set, predictions)
    print("Iteration {} - Validation MSE: {}".format(itr+1, val_mse))
    val_mse_arr.append(val_mse)

mean_val_mse = np.mean(val_mse_arr)
print("Mean validation MSE is {}".format(mean_val_mse))

Iteration 1 - Validation MSE: 21.635219565628
Iteration 2 - Validation MSE: 21.647657410330435
Iteration 3 - Validation MSE: 21.63855977784908
Iteration 4 - Validation MSE: 21.65019556569118
Iteration 5 - Validation MSE: 21.63740243054737
Iteration 6 - Validation MSE: 21.640726649430675
Iteration 7 - Validation MSE: 21.642592395914214
Iteration 8 - Validation MSE: 21.638407335787818
Iteration 9 - Validation MSE: 21.631932395855607
Iteration 10 - Validation MSE: 21.65129901346635
Mean validation MSE is 21.64139925405007

Tried running the cells below several times at maximum RAM capacity of colab, but always ran into memory error.

In [0]:
values = [zip(df.values[i], predictions[i]) for i in range(predictions.shape[0])]
comparison_data = pd.DataFrame(values)
comparison_data.columns = df.columns

In [0]:
comparison_data